[mysqld]
server-id = 2
relay_log = mysql-relay-bin
log_bin = mysql-bin
binlog_format = ROW
read_only = ON
max_connections = 200
bind-address = 0.0.0.0
skip-name-resolve

# 복제 관련 설정
gtid_mode = ON
enforce_gtid_consistency = ON
log_slave_updates = ON